/* .tnav .navbar .container {
  height: 28px !important;
}
.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 28px !important;
}
.navbar {
  min-height:28px !important;
}
.navbar-nav {
  margin: 1em 0em 0em 0em !important;
} */
